<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div class="container">
    <br>
    <div><img style="width: 100%;" src="http://49.247.130.192:8080/ovo/image/5ovo3hub.png"></div>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">로그인</h4>
            <form id="loginForm" action="./loginCheck" method="post">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input id="email" name="email" class="form-control" placeholder="아이디 (이메일)" type="email">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" name="password" class="form-control" placeholder="비밀번호" type="password">
                </div>

                <div class="form-group">
                    <button id="loginButton" class="btn btn-primary btn-block"> 로그인</button>
                </div>
                <p class="text-center">계정이 없으세요??? <a href="./signup">Sign Up</a></p>
            </form>
        </article>
    </div>
</div>
</body>
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/common.js"></script>
<script>
    $("#loginButton").on("click", function () {
        $.ajax({
            url: "./loginCheck",
            method: "post",
            data: {
                email: $("#email").val(),
                password: $("#password").val()
            }
        });
    });
</script>
</html>